FACEBOOK_ACCESS_TOKEN=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_TOKEN=
TWITTER_TOKEN_SECRET=

INSTAGRAM_LOGIN=
INSTAGRAM_PASSWORD=

# example (comma separated keys):
MASTODON_INSTANCE_KEYS=SCHOLAR_SOCIAL,MASTODON_SOCIAL
# use these keys to define the urls and the secrets
# SCHOLAR_SOCIAL
MASTODON_SCHOLAR_SOCIAL_URL=https://scholar.social
MASTODON_SCHOLAR_SOCIAL_TOKEN=
MASTODON_SCHOLAR_SOCIAL_CLIENT_ID=
MASTODON_SCHOLAR_SOCIAL_CLIENT_SECRET=
# MASTODON_SOCIAL
MASTODON_MASTODON_SOCIAL_URL=https://mastodon.social
MASTODON_MASTODON_SOCIAL_TOKEN=
MASTODON_MASTODON_SOCIAL_CLIENT_ID=
MASTODON_MASTODON_SOCIAL_CLIENT_SECRET=

# LINKEDIN
LINKEDIN_LISTENING_PORT=8000
LINKEDIN_REDIRECT_URI=http://localhost:8000/
LINKEDIN_APP_CLIENT_ID=
LINKEDIN_APP_CLIENT_SECRET=
# if you already have add them below:
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_REFRESH_TOKEN=
LINKEDIN_TOKEN_CREATED_AT=1604090956.07258
LINKED_ACCESS_TOKEN_EXPIRES_IN=5183999
LINKED_REFRESH_TOKEN_EXPIRES_IN=31535999
